    @import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700);
	@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

		body {
			background-color: #f5f5f5;
			font-family: 'Roboto', Helvetica, Arial, sans-serif;
			line-height: 1.428571429;
			color: #262626;
			margin: 0;
			padding: 0;
			font-size: 16px;
			overflow-y: scroll;
		}

		#coin {
			text-align: center;
			background-color: #fff;
			width: 100%;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
			margin-bottom: 30px;
		}

		#coin a {
			display: block;
		}

		#coin a:hover {
			text-decoration: none;
		}

		#coin img {
			margin: 30px;
			max-width: 100%;
			max-height: 125px
		}

		#coin .name {
			display: block;
			width: 100%;
			background-color: #024e72;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			padding: 6px 12px;
			text-align: center;
		}

		#coin ul.stats {
			padding: 0;
			margin: 0;
			text-align: left;
			font-family: 'Inconsolata', monospace;
		}

		#coin ul.stats strong {
			font-weight: 700;
		}

		#coin ul.stats li {
			list-style: none;
			border-bottom: 1px solid #ececec;
			padding: 7px 15px;
			font-size: 15px;
			color: #333;
		}